*{
  padding: 0;
  margin: 0;
  background: #8fb9b9;
}
.booklist{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  gap: 2rem;
}
@media screen and (max-width: 768px){
  .booklist{
    grid-template-columns: repeat(1, 1fr);
  }
}
.book{
  background: #cfdadd;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  cursor: pointer;
}
.book img{
  width: 100%;
  object-fit: cover;
  background: #cfdadd;
  transition: transform .5s ease;
}
.book h2{
  font-size: 1rem;
  background: #cfdadd;
}
.book h4{
  color: #766b6b;
  font-size: small;
  background: #cfdadd;
}

.book:hover img{
  transform: scale(0.9);
}