*{
  padding: 0;
  margin: 0;
  background: #8fb9b9;
}
.booklist{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  gap: 2rem;
}
@media screen and (max-width: 768px){
  .booklist{
    grid-template-columns: repeat(1, 1fr);
  }
}
.book{
  background: #cfdadd;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}
.book img{
  width: 100%;
  object-fit: cover;
  background: #cfdadd;
  transition: transform .5s ease;
}
.book h2{
  font-size: 1rem;
  background: #cfdadd;
}
.book h4{
  color: #766b6b;
  font-size: small;
  background: #cfdadd;
}

.book:hover img{
  transform: scale(0.9);
}

.clickbtn{
  width: 6vw;
  height: 4vh;
  border-radius: 10px;
  border: 2px solid black;
  background: black;
  color: white;
  margin-top: 8px;
  cursor: pointer;
}
.number{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  padding: 0.75rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #c35600;
  color: #fff;
}